$primary-color: blueviolet;

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  max-width: 800px;
  padding: 5rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
  text-align: center;
}

.ul {

  list-style-type: none;
  padding: 0;
  margin: 5em 0;

  li {

    margin-bottom: 3em;

    &:last-child {
      margin-bottom: 0;
    }

  }

  p {

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }
}

.postContent {
  font-size: 34px;
  line-height: 43px;
  margin-bottom: .5em;
}

.postDate {
  font-weight: 600;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: .5em;
}

.formInput {
  width: 100%;
  font-size: 1.4em;
  padding: .8em;
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 6em;
  border: 2px solid #939191;
  border-radius: 5px;
  margin-bottom: 1em;
}

.formButton {
  background: #4948A7;
  border-radius: 5px;
  color: white;
  border: 0;
  padding: .6em 1em;
  font-size: 1.1em;
}